[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = true

[alias]
  hist    = log --graph --date=short
  histone = log --graph --decorate --abbrev-commit --all --pretty=oneline
  llog = !git log --pretty=format:'%Cgreen(%ci)%Creset %Cred%h%Creset %<(20,trunc)%C(blue)%an%Creset  %s %C(yellow)%d%Creset ' --abbrev-commit
  # all commits that aren't merges on all branches
  all = !git log --pretty=oneline --abbrev-commit --all --no-merges
  # all commits today for only me
  today = !git llog --since='12am' --all --no-merges --committer=\"`git me`\"
  # and yesterday
  yesterday = !git llog --since='yesterday 12am' --until='12am' --all --no-merges --committer=\"`git me`\"
  # and the same, but for everyone
  today-all = !git llog --since='12am' --all --no-merges
  yesterday-all = !git llog --since='yesterday 12am' --until='12am' --all --no-merges
  # shortcuts
  st = status
  co = checkout
  ci = commit
  br = branch
  df = diff
  lg = log -p
  rso = remote show origin
  me = config user.name
  smash = !git ir
  # interactive rebase
  ir = !sh -c 'git rebase -i origin/${1-master}' -
  # update in a sane way
  up = !git pull --rebase --prune --autostash --recurse-submodules
  up-log = !sh -c 'logstart=$(git rev-parse HEAD) && git pull --rebase --recurse-submodules --prune --autostash && echo "" && git --no-pager llog ${logstart}.. --stat'
  # clean after merging
  prdone = !sh -c 'git co ${1-master} && git up && git clean-merged'
  clean-merged = "!git branch --merged | grep -v '\\^\\*\\|master' | xargs -n 1 git branch -d"

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[push]
  default = current

[pull]
    rebase = false
